@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);

    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;

    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff; */

    --background: #0a192f;
    --foreground: #8892b0;

    --card: #112240;
    --card-foreground: #a8b2d1;

    --popover: #233554;
    --popover-foreground: #ccd6f6;

    --primary: #64ffda;
    --primary-foreground: #495670;

    --secondary: #9b7ebd;
    --secondary-foreground: #191919;

    --muted: #233554;
    --muted-foreground: #ccd6f6;

    --accent: #73ec8b;
    --accent-foreground: #191919;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #233554;
    --input: #233554;
    --ring: #64ffda;
    --scrollbar: #495670;

    --radius: 0.25rem;

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;

    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;

    --tab-height: 42px;
    --tab-width: 120px;

    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    --hamburger-width: 30px;

    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out,
      transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  }

  * {
    @apply m-0 scroll-smooth border-border p-0 font-rubik antialiased;
  }

  html {
    @apply scroll-smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) var(--background);
  }

  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3 {
    @apply font-semibold text-muted-foreground;
  }
  p {
    @apply text-[17px];
  }
}

@layer components {
  .section-container {
    @apply px-[3.125rem] lg:px-[6.25rem] xl:px-[9.375rem];
  }
}

.dp-wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  width: 100%;

  img {
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
  }
  &:hover img {
    filter: none;
  }
  &:after {
    content: '';
    @apply absolute block h-full w-full rounded;
    transition: var(--transition);
  }

  &:after {
    z-index: -1;
    @apply left-[0.875rem] top-[0.875rem] border-2 border-primary;
  }

  &:hover::after {
    transform: translate(0.5rem, 0.5rem);
  }
}

.numbered-heading {
  @apply relative mx-0 mb-10 mt-2.5 flex w-full items-center whitespace-nowrap text-numbered-heading;

  &:before {
    counter-increment: section;
    content: '0' counter(section) '.';
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    @apply mr-2.5 font-mono text-primary;
  }

  &:after {
    content: '';
    @apply relative -top-0 ml-5 block h-px w-[300px] bg-muted;

    @apply max-lg:w-[12.5rem] max-md:w-full max-sm:ml-2.5;
  }
}
